<!DOCTYPE html>
<html lang="hu" class="no-js" layout:decorator="index">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sticky Table Headers Revisited | Demo 3</title>
<link rel="shortcut icon" href="../favicon.ico">
<link rel="stylesheet" type="text/css" href="device/css/demo.css" />
<link rel="stylesheet" type="text/css" href="device/css/component.css" />


<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>



</head>
<body>
	<div layout:fragment="loginContent">
		<div class="container">

			<div class="component">

				<table class="overflow-y">
					<thead>
						<tr>
							<th >Ügyfél</th>
							<th>ID</th>
							<th>Azonosító</th>
							<th>Cég</th>
							<th>Eszköz</th>
							<th>Gyártó</th>
							<th>Serial no.</th>
							<th>Javítás helye</th>
							<th>Állapot</th>
							<th>Státusz</th>
							<th>Új gép</th>
							<th>Ügyintéző</th>
							<th>Technikus</th>
							<th>Prioritás</th>
							<th>Jelszó</th>
							<th>Hivatkozási szám</th>
							<th>Tartozékok</th>
							<th>Sérülés</th>
							<th>Hiba leírás</th>
							<th>Valós hiba</th>
							<th>Eszközről megjegyzés</th>
							<th>Vásárlási</th>
							<th>Bejelentés</th>
							<th>Határidő</th>
							<th>Kiszállás</th>
							<th>Adatmentés</th>
							<th>Szoftver</th>
							<th>Operációs rendszer</th>
							<th>Szoftver Megjegyzés</th>
							<th>Ház</th>
							<th>Tápegység</th>
							<th>Processzor</th>
							<th>Alaplap</th>
							<th>Memória</th>
							<th>Videokártya</th>
							<th>SSD</th>
							<th>Merevlemez</th>
							<th>Hűtőventillátor</th>
							<th>Optikai</th>
							<th>Bővítőkártya</th>
							<th>Laptop</th>
						</tr>
					</thead>
					<tbody>
					
						<tr th:each="device : ${deviceHTML}">
							<th  th:text="${device.deviceClientName}"></th>
							<td  th:text="${device.deviceID}"></td>
							<td th:text="${device.deviceNumber}"></td>
							<td th:text="${device.deviceCompanyName}"></td>
							<td th:text="${device.deviceName}"></td>
							<td th:text="${device.deviceManufacturer}"></td>
							<td th:text="${device.deviceSerialNumber}"></td>
							<td th:text="${device.deviceRepairLocation}"></td>
							<td th:text="${device.deviceStatus}"></td>
							<td th:text="${device.deviceStatusz}"></td>
							<td th:text="${device.deviceNewMachine}"></td>
							<td th:text="${device.deviceAdministrator}"></td>
							<td th:text="${device.deviceTechnicalPerson}"></td>
							<td th:text="${device.devicePriorit}"></td>
							<td th:text="${device.devicePassword}"></td>
							<td th:text="${device.deviceReferences}"></td>
							<td th:text="${device.deviceAccesssory}"></td>
							<td th:text="${device.deviceInjury}"></td>
							<td th:text="${device.deviceErrorDescription}"></td>
							<td th:text="${device.deviceErrorCorrection}"></td>
							<td th:text="${device.deviceComment}"></td>
							<td th:text="${device.deviceSalesBuying}"></td>
							<td th:text="${device.deviceAddDate}"></td>
							<td th:text="${device.deviceEndDate}"></td>
							<td th:text="${device.deviceDeliveryDate}"></td>
							<td th:text="${device.deviceDataRecovery}"></td>
							<td th:text="${device.deviceSoftver}"></td>
							<td th:text="${device.deviceOperatingSystem}"></td>
							<td th:text="${device.deviceSoftverComment}"></td>
							<td th:text="${device.deviceNewHouse}"></td>
							<td th:text="${device.devicePowerSupply}"></td>
							<td th:text="${device.deviceProcessor}"></td>
							<td th:text="${device.deviceBaseBoard}"></td>
							<td th:text="${device.deviceMemory}"></td>
							<td th:text="${device.deviceVideoCard}"></td>
							<td th:text="${device.deviceSSDDrive}"></td>
							<td th:text="${device.deviceHardDrive}"></td>
							<td th:text="${device.deviceCoolingFan}"></td>
							<td th:text="${device.deviceOpticalDrive}"></td>
							<td th:text="${device.deviceExpansionCard}"></td>
							<td th:text="${device.deviceLaptop}"></td>
							
						</tr>
						
					</tbody>
				</table>

			</div>

		</div>
		<!-- /container -->
		<script
			src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script
			src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="device/js/jquery.stickyheader.js"></script>
	</div>
</body>
</html>